.Caja-1 {
    width: 100px;
    height: 100px;
    background-color: rgb(214, 23, 23);
    padding: 50px;
    margin: 20px;
}


.Caja-2 {
    margin: 200px;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

.Ejemplo1 {
    width: 200px;
    height: 200px;
    margin: 2em;

}

.ejemplo2{
    background:yellowgreen;
    border: 5px solid rebeccapurple;
    border-top-width: 200px;
    border-top-color: beige;
}

.ejemplo3{
    background:lightblue;
    border-left-width: 5px;
    border-left-style: dotted;
    border-left-color: blue;
}

.ejemplo4{
    background: lightcoral;
    border:5px dashed black;
}