body{
    font-family: Arial, Helvetica, sans-serif; 
    background: linear-gradient(to right, rgb(217, 167, 199), rgb(255, 252, 220));
    clear: both;
    text-align: center;
    position: relative;
}

header h1{
    text-align: center;
    width: 100%;
    margin: 0px auto;
    text-align: center;  
}


.container a{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding: 10px;
    clear: both;
    position: absolute;
      
}


.imagen{
    text-align: center;  
}

  
.fin{
    background-image: linear-gradient(to right, rgb(255, 175, 189), rgb(255, 195, 160));
    padding: 10px;
    text-align: center;
    bottom: 07px;
}

.redsocial{
    text-align: center;

}

.lista-centrada {
    text-align: center; 
}

.lista-centrada ul {
    list-style-type: none; 
    padding: 40px; 
    text-decoration: none;
    margin: 0;
    
}

.lista-centrada ul li {
    display: inline-block; 
    margin: 10px; 
}


