.inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
}

body {
    background: linear-gradient(to right, rgb(217, 167, 199), rgb(255, 252, 220));
    font-family: Arial, Helvetica, sans-serif; 
}

.lista-centrada {
    text-align: center; 
}

.lista-centrada ul {
    list-style-type: none; 
    padding: 40px; 
    text-decoration: none;
    margin: 0;
}

.lista-centrada ul li {
    display: inline-block; 
    margin: 10px; 
}

.fin {
    position: fixed; 
    bottom: 15px; 
    width: 100%; 
    background-image: linear-gradient(to right, rgb(255, 175, 189), rgb(255, 195, 160));
    padding: 10px;
    text-align: center;
}


.sobre-mi-contenedor {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -150%);
    width: 60%; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: justify;
}

